.[dev]

# Package                                        Components

transformers[torch,sentencepiece]==4.36.2       # ExtractiveReader, TransformersSimilarityRanker, LocalWhisperTranscriber, HFGenerators...
spacy==3.7                                      # NamedEntityExtractor
curated-transformers==0.1                       # NamedEntityExtractor; required to correctly load spaCy 3.7 transformer models from within a test session (since this package adds new entry points, it has to be already installed when the runtime launches).

# Converters
pypdf                                           # PyPDFConverter
markdown-it-py                                  # MarkdownToDocument
mdit_plain                                      # MarkdownToDocument
tika                                            # TikaDocumentConverter
azure-ai-formrecognizer>=3.2.0b2                # AzureOCRDocumentConverter

langdetect                                      # TextLanguageRouter and DocumentLanguageClassifier
sentence-transformers>=2.2.0                    # SentenceTransformersTextEmbedder and SentenceTransformersDocumentEmbedder
openai-whisper>=20231106                        # LocalWhisperTranscriber

# OpenAPI
jsonref                                        # OpenAPIServiceConnector, OpenAPIServiceToFunctions
openapi3
